<div md-colors="{'background': 'grey-400-1'}">
	<div layout="column" layout-align="start stretch">
		<div layout="row" layout-align="space-between center" layout-padding layout-wrap>
			<div class="md-display-2" flex md-truncate>Dipendenti</div>
			<div class="md-title">{{postdata.date | date:'dd/MM/yyyy HH:mm'}}</div>
		</div>
		<md-divider class="md-body-2" layout-margin></md-divider>
		<span class="md-body-2">Filtri:</span>
		<div layout="row" layout-align="start start" layout-padding layout-wrap>
			<div ng-if="postdata.filtri.search" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<div class="md-body-2" md-truncate>Cerca:</div>
				<div class="md-body-1" md-truncate>{{postdata.filtri.search}}</div>
			</div>
			<div ng-if="postdata.filtri.fl_data_esecuzione" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/calendar_done.svg"></md-icon>
				<div class="md-body-1" md-truncate>Dal {{postdata.filtri.data_inizio_esecuzione | date:'dd/MM/yyyy'}} al {{postdata.filtri.data_fine_esecuzione | date:'dd/MM/yyyy'}}</div>
			</div>
			<div ng-if="postdata.filtri.fl_data_scadenza" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/calendar_priority.svg"></md-icon>
				<div class="md-body-1" md-truncate>Dal {{postdata.filtri.data_inizio_scadenza | date:'dd/MM/yyyy'}} al {{postdata.filtri.data_fine_scadenza | date:'dd/MM/yyyy'}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.aziende).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/person_tie.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.aziende)">{{filter_key}} - {{postdata.filtri.aziende[filter_key]}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.dipendenti).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/person_helm.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.dipendenti)">{{filter_key}} - {{postdata.filtri.dipendenti[filter_key]}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.formazioni).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/school.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.formazioni)">{{filter_key}} - {{postdata.filtri.formazioni[filter_key]}}</div>
			</div>
		</div>
	</div>
</div>

<div ub-table layout="column" layout-align="start stretch">
	<div> <!-- importantissimo questo div inutile. non eliminare. fixa un bug grafico -->
		<div layout="row" class="ub-table-head">
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.idazienda">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('idazienda')">
					<md-icon md-svg-src="../../../img/icons/person_tie.svg"><md-tooltip md-direction="top">Azienda</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'idazienda'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'idazienda'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'idazienda'}).length > 0 && (postdata.filtri.sorting | filter:{property:'idazienda'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.df_iddipendente">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('df_iddipendente')">
					<md-icon md-svg-src="../../../img/icons/person_helm.svg"><md-tooltip md-direction="top">Dipendente</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_iddipendente'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'df_iddipendente'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_iddipendente'}).length > 0 && (postdata.filtri.sorting | filter:{property:'df_iddipendente'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.df_idformazione">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('df_idformazione')">
					<md-icon md-svg-src="../../../img/icons/school.svg"><md-tooltip md-direction="top">Formazione</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_idformazione'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'df_idformazione'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_idformazione'}).length > 0 && (postdata.filtri.sorting | filter:{property:'df_idformazione'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell ub-table-cell-50" ng-if="postdata.filtri.show.df_data_esecuzione">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('df_data_esecuzione')">
					<md-icon md-svg-src="../../../img/icons/calendar_done.svg"><md-tooltip md-direction="top">Data esecuzione</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_data_esecuzione'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'df_data_esecuzione'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_data_esecuzione'}).length > 0 && (postdata.filtri.sorting | filter:{property:'df_data_esecuzione'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell ub-table-cell-50" ng-if="postdata.filtri.show.df_data_scadenza">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('df_data_scadenza')">
					<md-icon md-svg-src="../../../img/icons/calendar_priority.svg"><md-tooltip md-direction="top">Data scadenza</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_data_scadenza'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'df_data_scadenza'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_data_scadenza'}).length > 0 && (postdata.filtri.sorting | filter:{property:'df_data_scadenza'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.df_docente">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('df_docente')">
					<md-icon md-svg-src="../../../img/icons/person_school.svg"><md-tooltip md-direction="top">Docente</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_docente'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'df_docente'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_docente'}).length > 0 && (postdata.filtri.sorting | filter:{property:'df_docente'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.df_note">
				<div layout="row" layout-align="center center" ng-click="postdata.filtri_app_scope.fn_filtri_sort_by('df_note')">
					<md-icon md-svg-src="../../../img/icons/note.svg"><md-tooltip md-direction="top">Note</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_note'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'df_note'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'df_note'}).length > 0 && (postdata.filtri.sorting | filter:{property:'df_note'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
		</div>
	</div>
	
	<div flex layout="column" class="ub-table-body">
		<div ng-repeat="dipendente_formazione in postdata.righe">
			<div class="ub-table-body-row" layout="row" md-colors="{'borderLeft-color': (dipendente_formazione.df_data_scadenza && dipendente_formazione.df_data_scadenza < today.toISOString) ? 'RED-500-1' : 'RED-500-0'}">
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.idazienda">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{dipendente_formazione.az_id}} - {{dipendente_formazione.az_descr}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.df_iddipendente">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{dipendente_formazione.df_iddipendente}} - {{dipendente_formazione.di_descr}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.df_idformazione">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{dipendente_formazione.df_idformazione}} - {{dipendente_formazione.fo_descr}}</div>
					</div>
				</div>
				<div class="ub-table-cell ub-table-cell-50" ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.df_data_esecuzione">
					<div layout="row" layout-align="center center" layout-fill>
						<div class="md-caption" md-truncate>{{dipendente_formazione.df_data_esecuzione | date:'dd/MM/yyyy'}}</div>
					</div>
				</div>
				<div class="ub-table-cell ub-table-cell-50" ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.df_data_scadenza">
					<div layout="row" layout-align="center center" layout-fill>
						<div class="md-caption" md-truncate>{{dipendente_formazione.df_data_scadenza | date:'dd/MM/yyyy'}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.df_docente">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{dipendente_formazione.df_docente}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.df_note">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{dipendente_formazione.df_note}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>