<div md-colors="{'background': 'grey-400-1'}">
	<div layout="column" layout-align="start stretch">
		<div layout="row" layout-align="space-between center" layout-padding layout-wrap>
			<div class="md-display-2" flex md-truncate>Adempimenti</div>
			<div class="md-title">{{postdata.date | date:'dd/MM/yyyy HH:mm'}}</div>
		</div>
		<md-divider class="md-body-2" layout-margin></md-divider>
		<span class="md-body-2">Filtri:</span>
		<div layout="row" layout-align="start start" layout-padding layout-wrap>
			<div ng-if="postdata.filtri.search" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/search.svg"></md-icon>
				<div class="md-body-1" md-truncate>{{postdata.filtri.search}}</div>
			</div>
			<div ng-if="postdata.filtri.fl_data" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/calendar.svg"></md-icon>
				<div class="md-body-1" md-truncate>Dal {{postdata.filtri.data_inizio | date:'dd/MM/yyyy'}} al {{postdata.filtri.data_fine | date:'dd/MM/yyyy'}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.circuiti).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/person_tie.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.circuiti)">{{filter_key}} - {{postdata.filtri.circuiti[filter_key]}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.argomenti).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/books.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.argomenti)">{{filter_key}} - {{postdata.filtri.argomenti[filter_key]}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.adempimenti).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/book.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.adempimenti)">{{filter_key}} - {{postdata.filtri.adempimenti[filter_key]}}</div>
			</div>
			<div ng-if="get_valid_keys(postdata.filtri.stati).length > 0" layout="column" layout-align="start stretch" style="margin: 0 8px">
				<md-icon md-svg-src="../../../img/icons/priority.svg"></md-icon>
				<div class="md-body-1" md-truncate ng-repeat="filter_key in get_valid_keys(postdata.filtri.stati)">{{filter_key}} - {{postdata.filtri.stati[filter_key]}}</div>
			</div>
		</div>
	</div>
</div>

<div ub-table layout="column" layout-align="start stretch">
	<div> <!-- importantissimo questo div inutile. non eliminare. fixa un bug grafico -->
		<div layout="row" class="ub-table-head">
			<div class="ub-table-cell ub-table-cell-80" ng-if="postdata.filtri.show.ch_date">
				<div layout="row" layout-align="center center">
					<md-icon md-svg-src="../../../img/icons/calendar.svg"><md-tooltip md-direction="top">Data</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'ch_date'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'ch_date'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'ch_date'}).length > 0 && (postdata.filtri.sorting | filter:{property:'ch_date'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.ch_idazienda && page() != 'scadenziario'">
				<div layout="row" layout-align="center center">
					<md-icon md-svg-src="../../../img/icons/person_tie.svg"><md-tooltip md-direction="top">Azienda</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'ch_idazienda'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'ch_idazienda'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'ch_idazienda'}).length > 0 && (postdata.filtri.sorting | filter:{property:'ch_idazienda'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.cr_idargomento">
				<div layout="row" layout-align="center center">
					<md-icon md-svg-src="../../../img/icons/books.svg"><md-tooltip md-direction="top">Argomento</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'cr_idargomento'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'cr_idargomento'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'cr_idargomento'}).length > 0 && (postdata.filtri.sorting | filter:{property:'cr_idargomento'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.cr_idadempimento">
				<div layout="row" layout-align="center center">
					<md-icon md-svg-src="../../../img/icons/book.svg"><md-tooltip md-direction="top">Adempimento</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'cr_idargomento'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'cr_idargomento'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'cr_idargomento'}).length > 0 && (postdata.filtri.sorting | filter:{property:'cr_idargomento'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-if="postdata.filtri.show.cr_idstato">
				<div layout="row" layout-align="center center">
					<md-icon md-svg-src="../../../img/icons/priority.svg"><md-tooltip md-direction="top">Stato</md-tooltip></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'cr_idstato'}).length > 0 && !(postdata.filtri.sorting | filter:{property:'cr_idstato'})[0].reverse" md-svg-src="../../../img/icons/arrow_up.svg"></md-icon>
					<md-icon ng-if="(postdata.filtri.sorting | filter:{property:'cr_idstato'}).length > 0 && (postdata.filtri.sorting | filter:{property:'cr_idstato'})[0].reverse" md-svg-src="../../../img/icons/arrow_down.svg"></md-icon>
				</div>
			</div>
		</div>
	</div>
	
	<div layout="column" class="ub-table-body">
		<div ng-repeat="item in postdata.righe">
			<div class="ub-table-body-row" layout="row">
				<div class="ub-table-cell ub-table-cell-80" ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.ch_date">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{item.ch_date | date:'dd/MM/yyyy HH:mm'}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.ch_idazienda && page() != 'scadenziario'">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{item.ch_idazienda}} - {{item.az_descr}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.cr_idargomento">
					<div layout="row" layout-align="start center" layout-fill>
						<div flex class="md-caption" md-truncate>{{item.cr_idargomento}} - {{item.ar_descr}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.cr_idadempimento">
					<div layout="row" layout-align="start center" layout-fill>
						<div class="md-caption" md-truncate>{{item.cr_idadempimento}} - {{item.ad_descr}}</div>
					</div>
				</div>
				<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="postdata.filtri.show.cr_idstato">
					<div layout="row" layout-align="start center" layout-fill>
						<div class="md-caption" md-truncate>{{item.cr_idstato}} - {{item.st_descr}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>