<md-button ng-if="logged_user.admin == '1'" class="md-icon-button" ng-click="gestione.page = 'utenti'" ng-class="{'selected': gestione.page == 'utenti'}" aria-label="utenti">
	<md-icon md-svg-src="img/icons/person.svg"></md-icon>
	<md-tooltip md-direction="top">Utenti</md-tooltip>
</md-button>
<md-button ng-if="logged_user.admin == '1'" class="md-icon-button" ng-click="gestione.page = 'circuiti'" ng-class="{'selected': gestione.page == 'circuiti'}" aria-label="circuiti">
	<md-icon md-svg-src="img/icons/circuit.svg"></md-icon>
	<md-tooltip md-direction="top">Circuiti</md-tooltip>
</md-button>
<md-button ng-if="logged_user.admin == '1'" class="md-icon-button" ng-click="gestione.page = 'eventi'" ng-class="{'selected': gestione.page == 'eventi'}" aria-label="eventi">
	<md-icon md-svg-src="img/icons/task.svg"></md-icon>
	<md-tooltip md-direction="top">Eventi</md-tooltip>
</md-button>
<md-button class="md-icon-button" ng-click="gestione.page = 'formazioni'" ng-class="{'selected': gestione.page == 'formazioni'}" aria-label="formazioni">
	<md-icon md-svg-src="img/icons/school.svg"></md-icon>
	<md-tooltip md-direction="top">Formazioni</md-tooltip>
</md-button>