<md-button class="md-icon-button" ng-click="select_lastest_training_school()" aria-label="refresh">
	<md-icon md-svg-src="img/icons/refresh.svg"></md-icon>
	<md-tooltip md-direction="top">Aggiorna</md-tooltip>
</md-button>
<div flex></div>
<md-button ng-if="pista.dipendente && (logged_user | utente_is_utente)" class="md-icon-button" ng-click="anagrafica_dipendente_formazione({df_iddipendente:pista.dipendente.di_id, dipendente: pista.dipendente}, false, true)" aria-label="add">
	<md-icon md-svg-src="img/icons/add.svg"></md-icon>
	<md-tooltip md-direction="top">Aggiungi</md-tooltip>
</md-button>