<div
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_toolbar.html'"
></div>

<md-card
	ng-if="pista.page != 'checkup' && (!(logged_user | utente_is_dipendente) || pista.azienda)"
	layout="column"
	layout-align="start stretch"
	layout-padding
	ng-include="'pista_anagrafica_azienda.html'"
></md-card>

<md-card
	ng-if="pista.page == 'dipendenti_formazioni'"
	layout="column"
	layout-align="start stretch"
	layout-padding
	ng-include="'pista_anagrafica_dipendente.html'"
></md-card>

<div
	ng-if="pista.page == 'checkup'"
	layout="row"
	layout-align="start stretch"
	flex
	class="full-height"
	ng-include="'pista_checkup.html'"
></div>
<div
	ng-if="pista.page == 'checkup' && pista.azienda"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_checkup_toolbar.html'"
></div>

<md-card
	ng-if="pista.page == 'checkups' && pista.azienda"
	layout="column"
	layout-align="start stretch"
	flex
	class="full-height"
>
	<div
		layout="column"
		layout-align="start stretch"
		layout-padding
		flex
		class="full-height"
		ng-include="'pista_checkups.html'"
	></div>
</md-card>
<div
	ng-if="pista.page == 'checkups' && pista.azienda"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_checkups_toolbar.html'"
></div>

<md-card
	ng-if="pista.page == 'adempimenti' && pista.azienda"
	layout="column"
	layout-align="start stretch"
	flex
	class="full-height"
>
	<div
		layout="column"
		layout-align="start stretch"
		layout-padding
		flex
		class="full-height"
		ng-include="'pista_adempimenti.html'"
	></div>
</md-card>
<div
	ng-if="pista.page == 'adempimenti' && pista.azienda"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_adempimenti_toolbar.html'"
></div>

<md-card
	ng-if="pista.page == 'dipendenti_formazioni' && (pista.azienda || pista.dipendente)"
	layout="column"
	layout-align="start stretch"
	flex
	class="full-height"
>
	<div
		layout="column"
		layout-align="start stretch"
		layout-padding
		flex
		class="full-height"
		ng-include="'pista_dipendenti_formazioni.html'"
	></div>
</md-card>
<div
	ng-if="pista.page == 'dipendenti_formazioni' && (pista.azienda || pista.dipendente)"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_dipendenti_formazioni_toolbar.html'"
></div>

<md-card
	ng-if="pista.page == 'school_calendar' && pista.azienda"
	layout="column"
	layout-align="start stretch"
	flex
	class="full-height"
>
	<div
		layout="column"
		layout-align="start stretch"
		layout-padding
		flex
		class="full-height"
		ng-include="'pista_school_calendar.html'"
	></div>
</md-card>
<div
	ng-if="pista.page == 'school_calendar' && pista.azienda"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_school_calendar_toolbar.html'"
></div>

<md-card
	ng-if="pista.page == 'agenda' && pista.azienda"
	layout="column"
	layout-align="start stretch"
	flex
	class="full-height"
>
	<div
		layout="column"
		layout-align="start stretch"
		layout-padding
		flex
		class="full-height"
		ng-include="'pista_agenda.html'"
	></div>
</md-card>
<div
	ng-if="pista.page == 'agenda' && pista.azienda"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'pista_agenda_toolbar.html'"
></div>