<!--<md-button class="md-icon-button" ng-click="report.page = 'circuiti'" ng-class="{'selected': report.page == 'circuiti'}" aria-label="circuiti">
	<md-icon md-svg-src="img/icons/circuit.svg"></md-icon>
	<md-tooltip md-direction="top">Circuiti</md-tooltip>
</md-button>-->
<md-button class="md-icon-button" ng-click="report.page = 'dipendenti'" ng-class="{'selected': report.page == 'dipendenti'}" aria-label="dipendenti">
	<md-icon md-svg-src="img/icons/pista.svg"></md-icon>
	<md-tooltip md-direction="top">Pista</md-tooltip>
</md-button>
<!--<md-button class="md-icon-button" ng-click="report.page = 'adempimenti'" ng-class="{'selected': report.page == 'adempimenti'}" aria-label="adempimenti">
	<md-icon md-svg-src="img/icons/book.svg"></md-icon>
	<md-tooltip md-direction="top">Adempimenti</md-tooltip>
</md-button>-->
<md-button class="md-icon-button" ng-click="report.page = 'training_school'" ng-class="{'selected': report.page == 'training_school'}" aria-label="training_school">
	<md-icon md-svg-src="img/icons/school_done.svg"></md-icon>
	<md-tooltip md-direction="top">Corsi</md-tooltip>
</md-button>