<md-button class="md-icon-button" ng-click="report.page = 'eventi'" ng-class="{'selected': report.page == 'eventi'}" aria-label="eventi">
	<md-icon md-svg-src="img/icons/pista.svg"></md-icon>
	<md-tooltip md-direction="top">Pista</md-tooltip>
</md-button>

<md-button class="md-icon-button" ng-click="report.page = 'training_school'" ng-class="{'selected': report.page == 'training_school'}" aria-label="training_school">
	<md-icon md-svg-src="img/icons/school_done.svg"></md-icon>
	<md-tooltip md-direction="top">Corsi</md-tooltip>
</md-button>