<md-button class="md-icon-button" ng-click="report.page = 'aziende'" ng-class="{'selected': report.page == 'aziende'}" aria-label="aziende">
	<md-icon md-svg-src="img/icons/person_tie.svg"></md-icon>
	<md-tooltip md-direction="top">Aziende</md-tooltip>
</md-button>
<md-button class="md-icon-button" ng-click="report.page = 'dipendenti'" ng-class="{'selected': report.page == 'dipendenti'}" aria-label="dipendenti">
	<md-icon md-svg-src="img/icons/motorcycle.svg"></md-icon>
	<md-tooltip md-direction="top">Pista</md-tooltip>
</md-button>
<md-button class="md-icon-button" ng-click="report.page = 'adempimenti'" ng-class="{'selected': report.page == 'adempimenti'}" aria-label="adempimenti">
	<md-icon md-svg-src="img/icons/book.svg"></md-icon>
	<md-tooltip md-direction="top">Adempimenti azienda</md-tooltip>
</md-button>
<md-button class="md-icon-button" ng-click="report.page = 'dipendenti_formazioni'" ng-class="{'selected': report.page == 'dipendenti_formazioni'}" aria-label="dipendenti_formazioni">
	<md-icon md-svg-src="img/icons/school_done.svg"></md-icon>
	<md-tooltip md-direction="top">Formazione dipendenti</md-tooltip>
</md-button>