<div
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'report_toolbar.html'"
></div>

<md-card
	ng-if="report.page == 'circuiti'"
	layout="column"
	layout-align="start stretch"
	layout-padding
	flex
	class="full-height"
	ng-include="'gestione_circuiti.html'"
></md-card>
<div
	ng-if="report.page == 'circuiti'"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'report_circuiti_toolbar.html'"
></div>

<md-card
	ng-if="report.page == 'eventi'"
	layout="column"
	layout-align="start stretch"
	layout-padding
	flex
	class="full-height"
	ng-include="'gestione_eventi.html'"
></md-card>
<div
	ng-if="report.page == 'eventi'"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'report_eventi_toolbar.html'"
></div>

<md-card
	ng-if="report.page == 'adempimenti'"
	layout="column"
	layout-align="start stretch"
	layout-padding
	flex
	class="full-height"
	ng-include="'pista_adempimenti.html'"
></md-card>
<div
	ng-if="report.page == 'adempimenti'"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'report_adempimenti_toolbar.html'"
></div>

<md-card
	ng-if="report.page == 'training_school'"
	layout="column"
	layout-align="start stretch"
	layout-padding
	flex
	class="full-height"
	ng-include="'pista_training_school.html'"
></md-card>
<div
	ng-if="report.page == 'training_school'"
	layout="row"
	layout-align="start center"
	class="toolbar"
	md-colors="{background: colors.secondary_toolbar}"
	ng-include="'report_training_school_toolbar.html'"
></div>