<md-button class="md-icon-button" ng-click="select_lastest_dipendenti_formazioni()" aria-label="refresh">
	<md-icon md-svg-src="img/icons/refresh.svg"></md-icon>
	<md-tooltip md-direction="top">Aggiorna</md-tooltip>
</md-button>
<div flex></div>
<!--
<md-button class="md-icon-button" ng-click="report_dipendenti_formazioni_export_pdf(dipendenti_formazioni.fn_filtri_filter(dipendenti_formazioni.righe | orderBy:dipendenti_formazioni.filtri_app_scope.fn_filtri_get_sort_config(), dipendenti_formazioni.filtri), dipendenti_formazioni.filtri)" aria-label="xlsx">
	<md-icon md-svg-src="img/icons/pdf.svg"></md-icon>
	<md-tooltip md-direction="top">Esportazione PDF</md-tooltip>
</md-button>
<md-button class="md-icon-button" ng-click="report_dipendenti_formazioni_export_xlsx(dipendenti_formazioni.fn_filtri_filter(dipendenti_formazioni.righe | orderBy:dipendenti_formazioni.filtri_app_scope.fn_filtri_get_sort_config(), dipendenti_formazioni.filtri), dipendenti_formazioni.filtri)" aria-label="xlsx">
	<md-icon md-svg-src="img/icons/xlsx.svg"></md-icon>
	<md-tooltip md-direction="top">Esportazione excel</md-tooltip>
</md-button>-->
