<div
	layout="row"
	layout-align="start center"
	class="toolbar no-padding"
	md-colors="{background: colors.secondary_toolbar}"
>
	<md-button class="md-icon-button" ng-class="{'selected': report_pista.rubrica_filtri_report_pista.fl_open}" ng-click="report_pista.toggle_rubrica(report_pista.rubrica_filtri_report_pista)">
		<md-icon md-svg-icon="img/icons/filter.svg"></md-icon>
		<md-tooltip md-direction="top">Filtri</md-tooltip>
	</md-button>

	<div flex></div>
	<md-button class="md-icon-button" ng-click="report_pista.fn_filtri_set_default_filtri_app()">
		<md-icon md-svg-icon="img/icons/broom.svg"></md-icon>
		<md-tooltip md-direction="top">Pulisci filtri</md-tooltip>
	</md-button>
</div>

<div layout="row" layout-align="start start" class="full-height" flex>
	<div ng-if="report_pista.rubrica_filtri_report_pista.fl_open" layout="column" layout-align="start stretch" class="full-height rubrica rubrica-left" ng-controller="rubrica" ng-init="init_rubrica(report_pista.rubrica_filtri_report_pista)" ng-include="rubrica.template"></div>
	<div flex ng-controller="filtri_app" ng-init="filtri_app(report_pista)" ub-table layout="column" layout-align="start stretch" class="full-height" ng-include="'ubtable_report_pista.html'"></div>
</div>