<div
	layout="row"
	layout-align="start center"
	class="toolbar no-padding"
	md-colors="{background: colors.secondary_toolbar}"
>
	<md-button class="md-icon-button" ng-if="!(logged_user | utente_is_dipendente) && (page() != 'scadenziario' || (page() == 'scadenziario' && !scadenziario.azienda))" ng-class="{'selected': dipendenti_formazioni.rubrica_aziende.fl_open}" ng-click="dipendenti_formazioni.toggle_rubrica(dipendenti_formazioni.rubrica_aziende)">
		<md-icon md-svg-icon="img/icons/person_tie.svg"></md-icon>
		<md-tooltip md-direction="top">Aziende</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" ng-if="!(logged_user | utente_is_dipendente) && (page() != 'scadenziario' || (page() == 'scadenziario' && !scadenziario.dipendente))" ng-class="{'selected': dipendenti_formazioni.rubrica_dipendenti.fl_open}" ng-click="dipendenti_formazioni.toggle_rubrica(dipendenti_formazioni.rubrica_dipendenti)">
		<md-icon md-svg-icon="img/icons/person_helm.svg"></md-icon>
		<md-tooltip md-direction="top">Dipendenti</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" ng-class="{'selected': dipendenti_formazioni.rubrica_formazioni.fl_open}" ng-click="dipendenti_formazioni.toggle_rubrica(dipendenti_formazioni.rubrica_formazioni)">
		<md-icon md-svg-icon="img/icons/school.svg"></md-icon>
		<md-tooltip md-direction="top">Formazioni</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" ng-class="{'selected': dipendenti_formazioni.rubrica_filtri_dipendenti_formazioni.fl_open}" ng-click="dipendenti_formazioni.toggle_rubrica(dipendenti_formazioni.rubrica_filtri_dipendenti_formazioni)">
		<md-icon md-svg-icon="img/icons/filter.svg"></md-icon>
		<md-tooltip md-direction="top">Altri filtri</md-tooltip>
	</md-button>

	<div flex></div>
	<md-button class="md-icon-button" ng-click="dipendenti_formazioni.fn_filtri_set_default_filtri_app()">
		<md-icon md-svg-icon="img/icons/broom.svg"></md-icon>
		<md-tooltip md-direction="top">Pulisci filtri</md-tooltip>
	</md-button>
</div>

<div layout="row" layout-align="start start" class="full-height" flex>
	<div ng-if="dipendenti_formazioni.rubrica_aziende.fl_open && !(logged_user | utente_is_dipendente) && (page() != 'scadenziario' || (page() == 'scadenziario' && !scadenziario.azienda))" layout="column" layout-align="start stretch" class="full-height rubrica rubrica-left" ng-controller="rubrica" ng-init="init_rubrica(dipendenti_formazioni.rubrica_aziende)" ng-include="rubrica.template"></div>
	<div ng-if="dipendenti_formazioni.rubrica_dipendenti.fl_open && !(logged_user | utente_is_dipendente) && (page() != 'scadenziario' || (page() == 'scadenziario' && !scadenziario.dipendente))" layout="column" layout-align="start stretch" class="full-height rubrica rubrica-left" ng-controller="rubrica" ng-init="init_rubrica(dipendenti_formazioni.rubrica_dipendenti)" ng-include="rubrica.template"></div>
	<div ng-if="dipendenti_formazioni.rubrica_formazioni.fl_open" layout="column" layout-align="start stretch" class="full-height rubrica rubrica-left" ng-controller="rubrica" ng-init="init_rubrica(dipendenti_formazioni.rubrica_formazioni)" ng-include="rubrica.template"></div>
	<div ng-if="dipendenti_formazioni.rubrica_filtri_dipendenti_formazioni.fl_open" layout="column" layout-align="start stretch" class="full-height rubrica rubrica-left" ng-controller="rubrica" ng-init="init_rubrica(dipendenti_formazioni.rubrica_filtri_dipendenti_formazioni)" ng-include="rubrica.template"></div>
	<div flex ng-controller="filtri_app" ng-init="filtri_app(dipendenti_formazioni)" ub-table layout="column" layout-align="start stretch" class="full-height" ng-include="'ubtable_dipendenti_formazioni.html'"></div>
</div>