<div
	layout="row"
	layout-align="start center"
	class="toolbar no-padding"
	md-colors="{background: colors.secondary_toolbar}"
>
	<md-button class="md-icon-button" ng-class="{'selected': aziende_activities.rubrica_filtri_aziende_activities.fl_open}" ng-click="aziende_activities.toggle_rubrica(aziende_activities.rubrica_filtri_aziende_activities)">
		<md-icon md-svg-icon="img/icons/filter.svg"></md-icon>
		<md-tooltip md-direction="top">Filtri</md-tooltip>
	</md-button>

	<div flex></div>
	<md-button class="md-icon-button" ng-click="aziende_activities.fn_filtri_set_default_filtri_app()">
		<md-icon md-svg-icon="img/icons/broom.svg"></md-icon>
		<md-tooltip md-direction="top">Pulisci filtri</md-tooltip>
	</md-button>
</div>

<div layout="row" layout-align="start start" class="full-height" flex>
	<div ng-if="aziende_activities.rubrica_filtri_aziende_activities.fl_open" layout="column" layout-align="start stretch" class="full-height rubrica rubrica-left" ng-controller="rubrica" ng-init="init_rubrica(aziende_activities.rubrica_filtri_aziende_activities)" ng-include="rubrica.template"></div>
	<div flex ng-controller="filtri_app" ng-init="filtri_app(aziende_activities)" ub-table layout="column" layout-align="start stretch" class="full-height" ng-include="'ubtable_aziende_activities.html'"></div>
</div>