<md-button class="md-icon-button" ng-click="select_circuiti_formazioni()" aria-label="refresh">
	<md-icon md-svg-src="img/icons/refresh.svg"></md-icon>
	<md-tooltip md-direction="top">Aggiorna</md-tooltip>
</md-button>
<div flex></div>
<md-button ng-if="scadenziario.azienda && (logged_user | utente_is_utente)" class="md-icon-button" ng-click="anagrafica_azienda_formazione({af_idazienda:scadenziario.azienda.az_id, azienda: scadenziario.azienda})" aria-label="add">
	<md-icon md-svg-src="img/icons/add.svg"></md-icon>
	<md-tooltip md-direction="top">Aggiungi</md-tooltip>
</md-button>