<md-button class="md-icon-button" ng-class="{'selected': checkups.rubrica_checkup_argomenti.fl_open}" ng-click="checkups.toggle_rubrica(checkups.rubrica_checkup_argomenti)">
	<md-icon md-svg-icon="img/icons/filter.svg"></md-icon>
	<md-tooltip md-direction="top">Filtri</md-tooltip>
</md-button>
<div flex></div>
<md-button class="md-icon-button" ng-click="checkups.selected.fn_filtri_set_default_filtri_app()">
	<md-icon md-svg-icon="img/icons/broom.svg"></md-icon>
	<md-tooltip md-direction="top">Pulisci filtri</md-tooltip>
</md-button>