<md-menu md-position-mode="target-right target">
	<md-button class="md-fab md-mini md-primary ub-absolute ub-right" ng-click="$mdMenu.open()">
		<md-icon md-svg-icon="img/icons/eye.svg"><md-tooltip md-direction="left">Mostra/nascondi colonne</md-tooltip></md-icon>
	</md-button>
	<md-menu-content ng-mouseleave="$mdMenu.close()" layout-padding>
		<md-menu-item ng-if="page() != 'scadenziario' && scadenziario.page != 'crm'">
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.aa_idazienda" aria-label="aa_idazienda">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/person_tie.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.aa_date" aria-label="aa_date">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/calendar.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.aa_descr" aria-label="aa_descr">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/crm.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.aa_idutente" aria-label="aa_idutente">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/person.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.aa_qta" aria-label="aa_qta">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/timelapse.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.aa_note" aria-label="aa_note">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/note.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
	</md-menu-content>
</md-menu>

<div> <!-- importantissimo questo div inutile. non eliminare. fixa un bug grafico -->
	<div layout="row" class="ub-table-head">
		<div class="ub-table-cell" flex ng-if="model.filtri.show.aa_idazienda && page() != 'scadenziario' && scadenziario.page != 'crm'">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('aa_idazienda')">
				<md-icon md-svg-src="img/icons/person_tie.svg"><md-tooltip md-direction="top">Azienda</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_idazienda') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_idazienda') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell ub-table-cell-80" ng-if="model.filtri.show.aa_date">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('aa_date')">
				<md-icon md-svg-src="img/icons/calendar.svg"><md-tooltip md-direction="top">Data</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_date') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_date') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell" flex ng-if="model.filtri.show.aa_descr">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('aa_descr')">
				<md-icon md-svg-src="img/icons/crm.svg"><md-tooltip md-direction="top">Descrizione</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_descr') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_descr') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell" flex ng-if="model.filtri.show.aa_idutente">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('aa_idutente')">
				<md-icon md-svg-src="img/icons/person.svg"><md-tooltip md-direction="top">Utente</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_idutente') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_idutente') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell" flex ng-if="model.filtri.show.aa_qta">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('aa_qta')">
				<md-icon md-svg-src="img/icons/timelapse.svg"><md-tooltip md-direction="top">Minuti</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_qta') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_qta') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell" flex ng-if="model.filtri.show.aa_note">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('aa_note')">
				<md-icon md-svg-src="img/icons/note.svg"><md-tooltip md-direction="top">Note</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_note') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('aa_note') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell ub-table-cell-33"></div>
	</div>
</div>

<div flex layout="column" ng-if="model.filtri_app_scope" class="ub-table-body" scroll="model">
	<div ng-repeat="azienda_activity in model.filtered">
		<div class="ub-table-body-row" layout="row" layout-align="start stretch">
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.aa_idazienda && page() != 'scadenziario' && scadenziario.page != 'crm'">
				<div layout="row" layout-align="start center" layout-fill>
					<div flex class="md-caption" md-truncate>{{azienda_activity.aa_idazienda}} - {{aziende.map[azienda_activity.aa_idazienda].az_descr}}</div>
				</div>
			</div>
			<div class="ub-table-cell ub-table-cell-80" ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.aa_date">
				<div layout="row" layout-align="center center" layout-fill>
					<div class="md-caption" md-truncate>{{azienda_activity.aa_date | date:'dd/MM/yyyy HH:mm'}}</div>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.aa_descr">
				<div layout="row" layout-align="start center" layout-fill>
					<div flex class="md-caption" md-truncate>{{azienda_activity.aa_type}} - {{azienda_activity.aa_descr}}</div>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.aa_idutente">
				<div layout="row" layout-align="start center" layout-fill>
					<div flex class="md-caption" md-truncate>{{azienda_activity.aa_idutente}} - {{utenti.map[azienda_activity.aa_idutente].cognome}} {{utenti.map[azienda_activity.aa_idutente].nome}}</div>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.aa_qta">
				<div layout="row" layout-align="center center" layout-fill>
					<div flex class="md-caption" md-truncate>{{azienda_activity.aa_qta | currency:'mins.':0}}</div>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.aa_note">
				<div layout="row" layout-align="start center" layout-fill>
					<div flex class="md-caption" md-truncate>{{azienda_activity.aa_note}}</div>
				</div>
			</div>
			<div class="ub-table-cell ub-table-cell-33" ng-class="{'striped': $index % 2 == 1}">
				<div layout="row" layout-align="space-around center" layout-fill>
					<md-button class="md-icon-button"
						ng-click="
							azienda_activity.azienda = aziende.map[azienda_activity.aa_idazienda];
							azienda_activity.utente = utenti.map[azienda_activity.aa_idutente];
							anagrafica_azienda_activity(azienda_activity, !(logged_user | utente_is_utente), logged_user | utente_is_utente);
						"
					>
						<md-icon md-svg-icon="img/icons/{{(logged_user | utente_is_utente) ? 'edit' : 'search'}}.svg"></md-icon>
						<md-tooltip md-direction="top">{{(logged_user | utente_is_utente) ? 'Modifica' : 'Visualizza'}}</md-tooltip>
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>