<md-menu md-position-mode="target-right target">
	<md-button class="md-fab md-mini md-primary ub-absolute ub-right" ng-click="$mdMenu.open()">
		<md-icon md-svg-icon="img/icons/eye.svg"><md-tooltip md-direction="left">Mostra/nascondi colonne</md-tooltip></md-icon>
	</md-button>
	<md-menu-content ng-mouseleave="$mdMenu.close()" layout-padding>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.fo_descr" aria-label="fo_descr">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/school.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.fo_note" aria-label="fo_note">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/note.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
		<md-menu-item>
			<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin" ng-model="model.filtri.show.fo_ggvalidita" aria-label="fo_ggvalidita">
				<md-icon class="no-padding no-margin" md-svg-src="img/icons/timelapse.svg"></md-icon>
			</md-checkbox>
		</md-menu-item>
	</md-menu-content>
</md-menu>

<div> <!-- importantissimo questo div inutile. non eliminare. fixa un bug grafico -->
	<div layout="row" class="ub-table-head">
		<div class="ub-table-cell" flex ng-if="model.filtri.show.fo_descr">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('fo_descr')">
				<md-icon md-svg-src="img/icons/school.svg"><md-tooltip md-direction="top">Evento</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('fo_descr') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('fo_descr') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell" flex ng-if="model.filtri.show.fo_note">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('fo_note')">
				<md-icon md-svg-src="img/icons/note.svg"><md-tooltip md-direction="top">Note</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('fo_note') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('fo_note') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell" flex ng-if="model.filtri.show.fo_ggvalidita">
			<div layout="row" layout-align="center center" ng-click="model.filtri_app_scope.fn_filtri_sort_by('fo_ggvalidita')">
				<md-icon md-svg-src="img/icons/timelapse.svg"><md-tooltip md-direction="top">Validità</md-tooltip></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('fo_ggvalidita') == 'asc'" md-svg-src="img/icons/arrow_up.svg"></md-icon>
				<md-icon ng-if="model.filtri_app_scope.fn_filtri_sorted_by('fo_ggvalidita') == 'desc'" md-svg-src="img/icons/arrow_down.svg"></md-icon>
			</div>
		</div>
		<div class="ub-table-cell ub-table-cell-33"></div>
	</div>
</div>

<div flex layout="column" class="ub-table-body" scroll="model">
	<div ng-repeat="formazione in model.filtered">
		<div class="ub-table-body-row" layout="row">
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.fo_descr">
				<div layout="row" layout-align="start center" layout-fill>
					<div class="md-caption" md-truncate>{{formazione.fo_descr}}</div>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.fo_note">
				<div layout="row" layout-align="start center" layout-fill>
					<div class="md-caption" md-truncate>{{formazione.fo_note}}</div>
				</div>
			</div>
			<div class="ub-table-cell" flex ng-class="{'striped': $index % 2 == 1}" ng-if="model.filtri.show.fo_ggvalidita">
				<div layout="row" layout-align="start center" layout-fill>
					<div class="md-caption" md-truncate>{{formazione.fo_ggvalidita | currency:'gg':0}}</div>
				</div>
			</div>
			<div class="ub-table-cell ub-table-cell-33" ng-class="{'striped': $index % 2 == 1}">
				<div layout="row" layout-align="space-around center" layout-fill>
					<md-button class="md-icon-button" ng-click="anagrafica_formazione(formazione)">
						<md-icon md-svg-icon="img/icons/edit.svg"></md-icon>
						<md-tooltip md-direction="top">Modifica</md-tooltip>
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>