<div flex class="welcome-item" ng-if="gestione.moduli.scadenziario && logged_user.fl_scadenziario == '1'" ng-click="page('scadenziario')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/road.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Scadenziario/Strada</div>
</div>

<md-divider ng-if="gestione.moduli.allegati && logged_user.fl_allegati == '1'" ></md-divider>
<div flex class="welcome-item" ng-if="gestione.moduli.allegati && logged_user.fl_allegati == '1'" ng-click="page('allegati')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/map.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Allegati/Chi siamo</div>
</div>

<md-divider ng-if="gestione.moduli.report && logged_user.fl_report == '1'" ></md-divider>
<div flex class="welcome-item" ng-if="gestione.moduli.report && logged_user.fl_report == '1'" ng-click="page('report')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/Helmet.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Report/pista</div>
</div>

<md-divider ng-if="gestione.moduli.gestione && logged_user.fl_gestione == '1'" ></md-divider>
<div flex class="welcome-item" ng-if="gestione.moduli.gestione && logged_user.fl_gestione == '1'" ng-click="page('gestione')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/settings.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Gestione</div>
</div>