<md-content layout-padding>
	<div layout="column" layout-align="start stretch" layout-padding>

		<div layout="row" layout-align="start center" layout-padding>
			<md-icon md-svg-src="img/icons/person_tie.svg" ng-if="dialog.utente | utente_is_azienda"><md-tooltip md-direction="top">Azienda</md-tooltip></md-icon>
			<md-icon md-svg-src="img/icons/person_helm.svg" ng-if="dialog.utente | utente_is_dipendente"><md-tooltip md-direction="top">Dipendente</md-tooltip></md-icon>
			<md-icon md-svg-src="img/icons/person.svg" ng-if="dialog.utente | utente_is_utente"><md-tooltip md-direction="top">Utente</md-tooltip></md-icon>
			<md-input-container flex>
				<label>Username</label>
				<input type="text" ng-model="dialog.utente.username" ng-readonly="true" ng-required="true"/>
			</md-input-container>
		</div>

		<div layout="row" layout-align="start center" layout-padding>
			<md-icon md-svg-src="img/icons/surname.svg"></md-icon>
			<md-input-container flex>
				<label>Cognome</label>
				<input type="text" ng-model="dialog.utente.cognome" ng-readonly="dialog.disabledform"/>
			</md-input-container>
			<md-icon md-svg-src="img/icons/name.svg"></md-icon>
			<md-input-container flex>
				<label>Nome</label>
				<input type="text" ng-model="dialog.utente.nome" ng-readonly="dialog.disabledform"/>
			</md-input-container>
		</div>

		<div layout="row" layout-align="space-around center" layout-padding>
			<md-button class="md-icon-button" ng-if="dialog.logged_user.admin == '1' && (dialog.utente | utente_is_utente)" ng-class="{'selected': dialog.utente.admin == '1'}" ng-click="dialog.utente.admin = dialog.utente.admin == '1' ? '0' : '1'" ng-disabled="dialog.disabledform">
				<md-icon md-svg-src="img/icons/face.svg"></md-icon>
				<md-tooltip md-direction="top">Admin</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-if="dialog.moduli.pista && dialog.logged_user.fl_pista == '1'" ng-class="{'selected': dialog.utente.fl_pista == '1'}" ng-click="dialog.utente.fl_pista = dialog.utente.fl_pista == '1' ? '0' : '1'" ng-disabled="dialog.disabledform">
				<md-icon md-svg-src="img/icons/helmet.svg"></md-icon>
				<md-tooltip md-direction="top">Pista</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-if="dialog.moduli.allegati && dialog.logged_user.fl_allegati == '1'" ng-class="{'selected': dialog.utente.fl_allegati == '1'}" ng-click="dialog.utente.fl_allegati = dialog.utente.fl_allegati == '1' ? '0' : '1'" ng-disabled="dialog.disabledform">
				<md-icon md-svg-src="img/icons/allegato.svg"></md-icon>
				<md-tooltip md-direction="top">Allegato</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-if="dialog.moduli.report && dialog.logged_user.fl_report == '1'" ng-class="{'selected': dialog.utente.fl_report == '1'}" ng-click="dialog.utente.fl_report = dialog.utente.fl_report == '1' ? '0' : '1'" ng-disabled="dialog.disabledform">
				<md-icon md-svg-src="img/icons/calendar.svg"></md-icon>
				<md-tooltip md-direction="top">Calendario</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-if="dialog.moduli.gestione && dialog.logged_user.fl_gestione == '1' && (dialog.utente | utente_is_utente)" ng-class="{'selected': dialog.utente.fl_gestione == '1'}" ng-click="dialog.utente.fl_gestione = dialog.utente.fl_gestione == '1' ? '0' : '1'" ng-disabled="dialog.disabledform">
				<md-icon md-svg-src="img/icons/settings.svg"></md-icon>
				<md-tooltip md-direction="top">Gestione</md-tooltip>
			</md-button>
		</div>
	</div>
</md-content>