<md-content layout-padding>
	<div layout="column" layout-align="start stretch" layout-padding>
		<md-input-container>
			<label>Descrizione</label>
			<input type="text" ng-model="dialog.formazione.fo_descr" ng-readonly="dialog.disabledform" ng-required="true"/>
		</md-input-container>

		<md-input-container>
			<label>Note</label>
			<textarea rows="5" ng-model="dialog.formazione.fo_note" ng-readonly="dialog.disabledform"></textarea>
		</md-input-container>

		<md-input-container>
			<label>Validità (gg)</label>
			<input type="number" ng-model="dialog.formazione.fo_ggvalidita" ng-readonly="dialog.disabledform" ng-required="true" min="0" step="1"/>
		</md-input-container>
	</div>
</md-content>