<div layout="column" layout-align="start stretch" flex class="full-height">
	<div> <!-- importantissimo questo div inutile. non eliminare. fixa un bug grafico -->
		<div layout="row" layout-align="start center">
			<md-input-container flex>
				<label>Cerca</label>
				<input type="text" ng-model="rubrica.model.filtri.search" />

				<md-button class="md-icon-button ub-suffix" ng-click="rubrica.model.filtri.search = undefined" ng-if="rubrica.model.filtri.search" aria-label="rubrica-search">
					<md-icon md-svg-src="img/icons/cancel.svg"></md-icon>
				</md-button>
			</md-input-container>
		</div>
	</div>

	<md-input-container>
		<md-checkbox layout="row" layout-align="start center" class="md-primary no-margin md-body-1" ng-model="rubrica.model.filtri.fl_show_done">Mostra prenotazioni evase</md-checkbox>
	</md-input-container>

	<md-input-container>
		<md-switch class="md-primary md-body-1" ng-model="rubrica.model.filtri.fl_data_richiesta">Filtra per data di richiesta</md-switch>
	</md-input-container>
	<md-input-container>
		<label>Dal</label>
		<md-datepicker ng-model="rubrica.model.filtri.data_inizio_richiesta" md-max-date="rubrica.model.filtri.data_fine_richiesta"></md-datepicker>
	</md-input-container>
	<md-input-container>
		<label>Al</label>
		<md-datepicker ng-model="rubrica.model.filtri.data_fine_richiesta" md-min-date="rubrica.model.filtri.data_inizio_richiesta"></md-datepicker>
	</md-input-container>

	<md-input-container>
		<md-switch class="md-primary md-body-1" ng-model="rubrica.model.filtri.fl_data_evasione">Filtra per data di evasione</md-switch>
	</md-input-container>
	<md-input-container>
		<label>Dal</label>
		<md-datepicker ng-model="rubrica.model.filtri.data_inizio_evasione" md-max-date="rubrica.model.filtri.data_fine_evasione"></md-datepicker>
	</md-input-container>
	<md-input-container>
		<label>Al</label>
		<md-datepicker ng-model="rubrica.model.filtri.data_fine_evasione" md-min-date="rubrica.model.filtri.data_inizio_evasione"></md-datepicker>
	</md-input-container>
</div>